#!/usr/bin/env bash

uv sync --all-extras --dev

# Install pre-commit hooks
# NOTE: feel free to enable this line, once you git init your repo since pre-commit requires a git repo to work
uv run pre-commit install -f --hook-type pre-commit

# Add the virtual environment's bin directory to PATH
PATH_add .venv/bin
